<div class="swiper-slide">
  <div class="swiper-image">
    {{ block.settings.image | image_url: width: 400 | image_tag }}
  </div>
</div>

{% schema %}
{
  "name": "swiper slide",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "slide image"
    }
  ],
  "blocks": [],
  "presets": [{ "name": "swiper slides" }]
}
{% endschema %}
